@import "tailwindcss";
*{
    scroll-behavior: smooth;
    transition: .3s;
}
body{
    height: 100vh;
}
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-track{
    background:  radial-gradient(circle,#e2c3a3,#975d37);
}
body::-webkit-scrollbar-thumb{
    background-color: #f8f8f8;
    border-radius: 4px;
}
@font-face {
    font-family:'fredoka';
    src: url(sourecs/fonts/fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family:'showclick' ;
    src: url(sourecs/fonts/showclick/Showclick.ttf);
}
@layer utilities {
    /* my bg-color */
    .bg-myblack{ background-color: #131213; }
    .bg-mybrawon{ background-color: #975d37; }
    .bg-mywhite{ background-color: #f8f8f8; }
    .bg-mygold{ background-color: #ecc836; }
    /* my text-color */
    .text-myblack{ color: #131213; }
    .text-mybrawon{ color: #975d37; }
    .text-mywhite{ color: #f8f8f8; }
    .text-mygold { color: #ffcf10; }
    /* my fonts */
    .font-title { font-family: 'showclick', sans-serif; }
    .font-prg { font-family: 'fredoka', cursive; }
    /* my animation */
    .animation-delay{
        animation-delay: 5s;
    }
    .animation-up-down{
        animation: up-down 7s infinite;
    }
    .animation-open-up{
        animation: open-up 1s;
    }
}
@keyframes up-down {
    0%,100%{
        translate: 0 0;
    }
    50%{
        translate: 0 2%;
    }
}
@keyframes open-up {
    0%{
        translate: 0 10%;
        opacity: 0;
    }
    100%{
        translate: 0 0 ;
        opacity: 1;
    }
}